:root {
    --primary: #a84fff;
    --secondary: #d81e5b;
    --dark: #131a26;
    --light: #eeeeee;
    --grey: #888;
  
    --font: "Fira Sans", sans-serif;
    --font-quote: "Fira Code", monospace;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .card {
      max-width: 720px;
      font-size: 2rem;
      background-color: whitesmoke;
      padding: 3rem;
      border-radius: 1.5rem;
  }

  blockquote {
    font-family: var(--font-quote);
  }

  .author {
      padding-top: 3rem;
      font-family: var(--font-quote);
  }

  button {
    appearance: none;
    border: none;
    outline: none;
    background-color: #82A3AC;
    color: black;
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    margin-top: 64px;
    margin-bottom: 64px;
    transition: 0.4s;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    font-family: var(--font-quote);
}

button:hover {
    background-color: skyblue;
}
